<div class="mt-24">
  <h1 class="text-4xl my-8 ">CSE Dept- Information</h1>
  <div class="flex justify-center relative w-auto ">
    <img class="w-11/12 opacity-80" src="/Images/BitsCollegePic.jpg" alt="">
    <h1 class="text-5xl absolute left-28  bottom-28 ">BITS, visakhapatnam.</h1>
  </div>
</div>