
<div><img src="" alt="" srcset=""></div>
<div>
    <h1>User Name</h1>
</div>
<div>
    <h1>Email</h1>
</div>
<div>
    <a href="/user/update"> <h1>Update Profile</h1></a>
   
</div>
<div>
    <a href="/user/update-password/"> <h1>Change Password</h1></a>
    <h1></h1>
</div>
<div>
    <a href="/user/logout"> <h1>Log Out</h1></a>
</div>